.wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
}

.list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.list__item {
  list-style-type: none;
  border: 1px solid black;
}
.list__item:not(:last-child) {
  margin-right: 20px;
}
